<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 class="panel-title">New User</h3>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn btn-danger btn-sm pull-right" title="Cancel" {{action 'cancel'}}>
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="alert alert-warning" role="alert" id="newUserExit">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>Are you sure you want to exit?</p>        
                                </div>
                                <div class="col-md-2">
                                <span>
                                    <button type="button" class="btn btn-danger" {{action "closePage"}}>Yes</button>
                                    <button type="button" class="btn btn-success" {{action "cancelClose"}}>No</button>
                                </span>        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- GENERAL -->
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">General</h3>
                            </div>
                            <div class="panel-body">
                                <div {{bind-attr class=":form-group :has-feedback usernameIsValid:has-success:has-error"}}>
                                    <label class="control-label sr-only">Username</label>
                                    {{input type="text" class="form-control" value=username placeholder="Email"}}
                                    {{#if usernameIsValid}}
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                    {{/if}}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div {{bind-attr class=":form-group :has-feedback passwordIsValid:has-success:has-error"}}>
                                                <label class="control-label sr-only">Password</label>
                                                {{input type="password" class="form-control" value=pass placeholder="Password"}}
                                                {{#if passwordIsValid}}
                                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                                {{/if}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div {{bind-attr class=":form-group :has-feedback passwordIsValid:has-success:has-error"}}>
                                            <label class="control-label sr-only">Password Again</label>
                                            {{input type="password" class="form-control" value=passAgain placeholder="Password Again"}}
                                            {{#if passwordIsValid}}
                                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label sr-only">Gender</label>
                                        <div {{bind-attr class=":form-group :has-feedback genderIsValid:has-success:has-error"}}>
                                            {{view Ember.Select class="form-control"
                                            content=genders
                                            value=gender
                                            optionValuePath="content.val"
                                            optionLabelPath="content.key"
                                            }}
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <p class="form-control-static text-center">Birth:</p>
                                    </div>
                                    <div class="col-md-5">
                                        <div {{bind-attr class=":form-group :has-feedback birthIsValid:has-success:has-error"}}>
                                            {{date-picker
                                            date=thisDate
                                            class="form-control"
                                            outputFormat="MM/DD/YYYY"
                                            value=model.birth
                                            yearRange=yearRanges
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END GENERAL -->
                        <!-- NAME -->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">Name (optional)</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            {{view Ember.Select class="form-control"
                                            content=prefixes
                                            value=model.name.prefix
                                            prompt="Prefix"
                                            }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" placeholder="First" value=model.name.first}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" placeholder="Middle" value=model.name.middle}}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" placeholder="Last" value=model.name.last}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            {{view Ember.Select class="form-control"
                                            content=suffixes
                                            value=model.name.suffix
                                            prompt="Suffix"
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END NAME -->
                        <!-- ADDRESS -->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Address (optional)</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" value=model.address.street1 placeholder="Street1"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" value=model.address.street2 placeholder="Street2"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" value=model.address.city placeholder="City"}}
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            {{view Ember.Select class="form-control"
                                            content=states
                                            value=model.address.state
                                            prompt="State"
                                            }}
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" value=model.address.zip placeholder="Zip"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END ADDRESS -->
                        <!-- RIGHTS -->
                        <div class="panel panel-info">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <h3 class="panel-title">Rights</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <span class="h5">User</span>
                                                <div class="btn-group btn-group-xs pull-right">
                                                    <div class="btn btn-danger"
                                                        {{action "toggleRights" "user" false}} title="Disable All">
                                                        <i class="fa fa-times-circle-o fa-lg"></i>
                                                    </div>
                                                    <div class="btn btn-success"
                                                        {{action "toggleRights" "user" true}} title="Enable All">
                                                        <i class="fa fa-check-square-o fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="View" onState=canViewUser action="changeState" name="canViewUser"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Edit" onState=canEditUser action="changeState" name="canEditUser"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Delete" onState=canDeleteUser action="changeState" name="canDeleteUser"}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <span class="h5">Company</span>
                                                <div class="btn-group btn-group-xs pull-right">
                                                    <div class="btn btn-danger"
                                                        {{action "toggleRights" "company" false}} title="Disable All">
                                                        <i class="fa fa-times-circle-o fa-lg"></i>
                                                    </div>
                                                    <div class="btn btn-success"
                                                        {{action "toggleRights" "company" true}} title="Enable All">
                                                        <i class="fa fa-check-square-o fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="View" onState=canViewCompany action="changeState" name="canViewCompany"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Edit" onState=canEditCompany action="changeState" name="canEditCompany"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Delete" onState=canDeleteCompany action="changeState" name="canDeleteCompany"}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <span class="h5">Survey</span>
                                                <div class="btn-group btn-group-xs pull-right">
                                                    <div class="btn btn-danger"
                                                        {{action "toggleRights" "survey" false}} title="Disable All">
                                                        <i class="fa fa-times-circle-o fa-lg"></i>
                                                    </div>
                                                    <div class="btn btn-success"
                                                        {{action "toggleRights" "survey" true}} title="Enable All">
                                                        <i class="fa fa-check-square-o fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="View" onState=canViewSurvey action="changeState" name="canViewSurvey"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Edit" onState=canEditSurvey action="changeState" name="canEditSurvey"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Delete" onState=canDeleteSurvey action="changeState" name="canDeleteSurvey"}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 switch-holder">
                                        {{bs-switch labelText="is Admin" onState=isAdmin action="changeState" name="isAdmin"}}
                                    </div>
                                    <div class="col-md-6 switch-holder">
                                        {{bs-switch labelText="make Admin"
                                        onState=canMakeAdmin
                                        action="changeState"
                                        name="canMakeAdmin"
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END RIGHTS -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        {{#if errorMessage}}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close" {{action "dismissAlert"}}><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <span class="h4">{{errorMessage}}</span>
                        </div>
                        {{/if}}
                        
                    </div>
                    <div class="col-md-2">
                        <div {{bind-attr class=":btn :btn-success :btn-block isValidUser::disabled"}} {{action "saveUser"}}>Save User</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>