<div class="row">
    <!-- COLUMN 1 -->
    <div class="col-md-6">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Rights</div>
            <div class="panel-body">
                
            </div>
            <!-- Table -->
            <table class="table table-condensed">
                <thead>
                    <th>User</th>
                    <th>Company</th>
                    <th>Survey</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{bs-switch labelText="View"}}</td>
                        <td>{{bs-switch labelText="View"}}</td>
                        <td>{{bs-switch labelText="View"}}</td>
                    </tr>
                    <tr>
                        <td>{{bs-switch labelText="Edit"}}</td>
                        <td>{{bs-switch labelText="Edit"}}</td>
                        <td>{{bs-switch labelText="Edit"}}</td>
                    </tr>
                    <tr>
                        <td>{{bs-switch labelText="Delete"}}</td>
                        <td>{{bs-switch labelText="Delete"}}</td>
                        <td>{{bs-switch labelText="Delete"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- COLUMN 2 -->
    <div class="col-md-6">
    </div>
</div>