<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 class="panel-title">New User</h3>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn btn-danger btn-sm pull-right" title="Cancel" {{action 'cancel'}}>
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <!-- COLUMN 1 -->
                    <!-- GENERAL -->
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">General</h3>
                            </div>
                            <div class="panel-body">
                                {{#em-form form_layout="horizontal" model=model submit_button=false}}
                                    {{#em-form-group label="some label" yieldInLabel=true}}
                                        {{em-input property="username" type="email" placeholder="Email"}}
                                        {{em-input label="Password" property="password" type="password"}}
                                    {{/em-form-group}}
                                    
                                    
                                    {{em-input label="Password Again" value=passwordAgain type="password"}}
                                    {{em-select
                                        label="Gender"
                                        property=""
                                        content=genders
                                        optionValuePath="content.id"
                                        optionLabelPath="content.name"
                                        prompt="--select--"
                                    }}
                                    {{em-input label="Birthdate" property="birth" type="date"}}
                                {{/em-form}}
                            </div>
                        </div>
                        <!-- END GENERAL -->
                        <!-- NAME -->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Name</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            {{view Ember.Select class="form-control"
                                            content=prefixes
                                            value=model.name.prefix
                                            prompt="Prefix"
                                            }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" placeholder="First" value=model.name.first}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" placeholder="Middle" value=model.name.middle}}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" placeholder="Last" value=model.name.last}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            {{view Ember.Select class="form-control"
                                            content=suffixes
                                            value=model.name.suffix
                                            prompt="Suffix"
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END NAME -->
                        <!-- ADDRESS -->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Address</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" value=model.address.street1 placeholder="Street1"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" value=model.address.street2 placeholder="Street2"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" value=model.address.city placeholder="City"}}
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            {{view Ember.Select class="form-control"
                                            content=states
                                            value=model.address.state
                                            prompt="State"
                                            }}
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            {{input type="text" class="form-control" value=model.address.zip placeholder="Zip"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END ADDRESS -->
                        <!-- RIGHTS -->
                        <div class="panel panel-info">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <h3 class="panel-title">Rights</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <span class="h5">User</span>
                                                <div class="btn-group btn-group-xs pull-right">
                                                    <div class="btn btn-danger"
                                                        {{action "toggleRights" "user" false}} title="Disable All">
                                                        <i class="fa fa-times-circle-o fa-lg"></i>
                                                    </div>
                                                    <div class="btn btn-success"
                                                        {{action "toggleRights" "user" true}} title="Enable All">
                                                        <i class="fa fa-check-square-o fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="View" onState=canViewUser action="changeState" name="canViewUser"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Edit" onState=canEditUser action="changeState" name="canEditUser"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Delete" onState=canDeleteUser action="changeState" name="canDeleteUser"}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <span class="h5">Company</span>
                                                <div class="btn-group btn-group-xs pull-right">
                                                    <div class="btn btn-danger"
                                                        {{action "toggleRights" "company" false}} title="Disable All">
                                                        <i class="fa fa-times-circle-o fa-lg"></i>
                                                    </div>
                                                    <div class="btn btn-success"
                                                        {{action "toggleRights" "company" true}} title="Enable All">
                                                        <i class="fa fa-check-square-o fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="View" onState=canViewCompany action="changeState" name="canViewCompany"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Edit" onState=canEditCompany action="changeState" name="canEditCompany"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Delete" onState=canDeleteCompany action="changeState" name="canDeleteCompany"}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <span class="h5">Survey</span>
                                                <div class="btn-group btn-group-xs pull-right">
                                                    <div class="btn btn-danger"
                                                        {{action "toggleRights" "survey" false}} title="Disable All">
                                                        <i class="fa fa-times-circle-o fa-lg"></i>
                                                    </div>
                                                    <div class="btn btn-success"
                                                        {{action "toggleRights" "survey" true}} title="Enable All">
                                                        <i class="fa fa-check-square-o fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="View" onState=canViewSurvey action="changeState" name="canViewSurvey"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Edit" onState=canEditSurvey action="changeState" name="canEditSurvey"}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 switch-holder">
                                                        {{bs-switch labelText="Delete" onState=canDeleteSurvey action="changeState" name="canDeleteSurvey"}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 switch-holder">
                                        {{bs-switch labelText="is Admin" onState=isAdmin action="changeState" name="isAdmin"}}
                                    </div>
                                    <div class="col-md-6 switch-holder">
                                        {{bs-switch labelText="make Admin"
                                        onState=canMakeAdmin
                                        action="changeState"
                                        name="canMakeAdmin"
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END RIGHTS -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="btn btn-success pull-right" {{action "saveUser"}}>Save User</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>