{{loading-slider isLoading=loading duration=250}}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {{#link-to 'index' class='navbar-brand'}}Awgle{{/link-to}}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{#link-to "index" tagName="li"}}
                <a {{bind-attr href="view.href"}}>Home</a>
                {{/link-to}}
                {{#link-to "about" tagName="li"}}
                <a {{bind-attr href="view.href"}}>About</a>
                {{/link-to}}
                {{#link-to "contact" tagName="li"}}
                <a {{bind-attr href="view.href"}}>Contact</a>
                {{/link-to}}
                {{#if session.isAuthenticated}}
                {{#if session.authUser.right.isAdmin}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{#link-to 'dashboard' tagName="li"}}
                        <a {{bind-attr href="view.href"}}>Overview</a>
                        {{/link-to}}
                        <li class="divider"></li>
                        {{#link-to 'users' tagName="li"}}
                        <a {{bind-attr href="view.href"}}>Users</a>
                        {{/link-to}}
                        {{#link-to 'companies' tagName="li"}}
                        <a {{bind-attr href="view.href"}}>Companies</a>
                        {{/link-to}}
                        {{#link-to 'surveys' tagName="li"}}
                        <a {{bind-attr href="view.href"}}>Surveys</a>
                        {{/link-to}}
                    </ul>
                </li>
                {{else}}
                {{#link-to "dashboard" tagName="li"}}
                <a {{bind-attr href="view.href"}}>Dashboard</a>
                {{/link-to}}
                {{/if}}
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if session.isAuthenticated}}
                <li>
                    <p class="navbar-text">Logged in as {{session.authUser.username}}</p>
                    <button class="btn btn-danger navbar-btn" {{action 'invalidateSession'}}>Log Out</button>
                </li>
                {{else}}
                <li>{{#link-to 'login'}}Login{{/link-to}}</li>
                {{/if}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; Awgle 2014</p>
    </footer>
</div> <!-- /container -->