<div class="panel panel-success user-card" {{bind-attr id=elmId}}>
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-9">
                <h3 class="panel-title">{{username}}</h3>
            </div>
            <div class="col-xs-3">
                <div class="btn-group btn-group-xs pull-right">
                    <button type="button" class="btn btn-warning" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-danger" title="Delete" {{action "showDeleteConfirm"}}><i class="fa fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="deleteConfirm">
            <div class="alert alert-danger" role="alert">
                <div class="row">
                    <div class="col-md-8">
                        <h5>Are you sure?</h5>
                    </div>
                    <div class="col-md-4">
                        <span>
                        <button type="button" class="btn btn-sm btn-success" {{action "destroyUser" this}}>Yes</button>
                        <button type="button" class="btn btn-sm btn-danger" {{action "hideDeleteConfirm"}}>No</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-condensed">
        <tr>
            <td><span>Name:</span></td>
            <td><span class="text-left">{{name.prettyName}}</span></td>
        </tr>
        <tr>
            <td><span>Birth Date:</span></td>
            <td><span class="text-left">{{prettyBirth}}</span></td>
        </tr>
        <tr>
            <td><span>Created:</span></td>
            <td><span class="text-left">{{prettyCreated}}</span></td>
        </tr>
        <tr>
            <td><span>Points:</span></td>
            <td><span class="text-left">{{points}}</span></td>
        </tr>
        <tr>
            <td><span>Verified:</span></td>
            <td><span class="text-left">{{verified}}</span></td>
        </tr>
    </table>
</div>